@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
    --Font: 'Barlow Semi Condensed', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Light-grayish-blue);
    font-family: var(--Font);
    color: var(--Very-dark-blackish-blue);
    font-weight: 500;
}

.grid-tiles {
    display: grid;
    grid-template-areas: "one"
                            "two"
                            "three"
                            "four"
                            "five";
}

.card {
    border-radius: 10px;
    margin: 1.5rem;
    padding: 1.8rem;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
}

.contact {
    display: flex;
    flex-direction: row;
}

.details {
    padding-left: 0.3rem;
    padding-top: 0.2rem;
}

.name {
    font-weight: 600;
}

.prof {
    opacity: 50%;
}

.quote {
    opacity: 70%;
    padding-top: 1rem;
    line-height: 1.4rem;
}

img {
    border-radius: 50%;
    height: 90%;
    width: 80%;
}

.grid-one, .grid-two, .grid-four {
    color: var(--White);
}

.grid-one {
    grid-area: one;
    background-color: var(--Moderate-violet);
}

.quotation img {
    position: absolute;
    border-radius: 0;
    height: 18%;
    width: 18%;
    margin-left: 60vw;
    margin-top: -4vh;
    z-index: 0;
}

.grid-two {
    grid-area: two;
    background-color: var(--Very-dark-grayish-blue);
}

.grid-three {
    grid-area: three;
    background-color: var(--White);
}

.grid-four {
    grid-area: four;
    background-color: var(--Very-dark-blackish-blue);
}

.grid-five {
    grid-area: five;
    background-color: var(--White);
}

.heading {
    font-weight: 600;
    padding-top: 1rem;
}

.attribution { 
    font-size: 0.9rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 900px){
    .grid-tiles {
        grid-template-areas: "one one two five"
                             "three four four five";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 1rem;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 80vw;
    }

    .card {
        margin: 0.7rem;
        padding: 1.5rem;
    }

    .quote {
        font-size: 0.85rem;
    }

    .heading {
        font-size: 0.85rem;
    }

    .quote {
        padding-top: 1.3rem;
    }

    .quotation img {
        height: 15%;
        width: 15%;
        margin-left: 17vw;
        margin-top: -3vh;
        z-index: 0;
    }

}